<div class="wrap">
  <div class="left">
    <a href="">Home</a><br>
    <a href="/colors">Colors</a><br>
    &nbsp;&nbsp;<a href="/green">Green</a><br>
    &nbsp;&nbsp;<a href="/red">Red</a><br>
    <a href="/lazy-colors">Lazy Colors</a><br>
    &nbsp;&nbsp;<a href="/lazy-colors/blue">Blue</a><br>
    &nbsp;&nbsp;<a href="/lazy-colors/yellow">Yellow</a>
  </div>
  <div class="middle">
    <router-outlet></router-outlet>
  </div>
  <div class="right">

  </div>
</div>